header.masthead-main {
  background-image: url("../img/regensburg_grayscale.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

header .masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: linear-gradient(
    0deg,
    rgba($secondary, 0.9) 0%,
    rgba($primary, 0.5) 100%
  );
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  .masthead-content {
    z-index: 1;
    position: relative;
    .masthead-heading {
      background-image: url("../img/localistars_logo_inv.svg");
      background-position-x: center;
      background-size: 350px;
      background-repeat: no-repeat;
      height: 70px;
      font-size: 4rem;
    }
    .masthead-subheading {
      margin-top: 40px;
      font-size: 2rem;
      font-weight: 400;
    }
  }
  .bg-circle {
    z-index: 0;
    position: absolute;
    border-radius: 100%;
    background: linear-gradient(
      0deg,
      rgba($primary, 0.2) 0%,
      rgba($secondary, 0.3) 100%
    );
  }
  .bg-circle-1 {
    height: 90rem;
    width: 90rem;
    bottom: -55rem;
    left: -55rem;
  }
  .bg-circle-2 {
    height: 50rem;
    width: 50rem;
    top: -25rem;
    right: -25rem;
  }
  .bg-circle-3 {
    height: 20rem;
    width: 20rem;
    bottom: -10rem;
    right: 5%;
  }
  .bg-circle-4 {
    height: 30rem;
    width: 30rem;
    top: -5rem;
    right: 35%;
  }
}

@media (min-width: 992px) {
  header .masthead {
    padding-top: calc(10rem + 105px);
    padding-bottom: 10rem;
    .masthead-content {
      .masthead-heading {
        background-size: 550px;
        height: 120px;
        font-size: 4rem;
      }
      .masthead-subheading {
        font-size: 4rem;
      }
    }
  }
}
