//- Currently not in use due to duplicated content together with client and translator pages
//- extends pug/layout.pug

section#features.features.bg-primary.text-center
      .container
        .row
          .col-lg-12.text-center
            .section-heading
              h2 Grow global with the help of your localistars
              p.head
                | Create your global success team.
              hr
        .row
          .col-md-12
            .container-fluid
              .row
                .col-md-6
                  .feature-item
                    .device-wrapper
                      .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                        .screen
                          img.img-responsive(src='img/screenshots/screen/project_consumer.jpg', alt='localistars project')
                        .button
                    h3 Stop searching for translators
                    p
                      | Upload your content - and get found.
                .col-md-6
                  .feature-item
                    .device-wrapper
                      .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                        .screen
                          img.img-responsive(src='img/screenshots/screen/partners.jpg', alt='localistars partners')
                    h3 Build up your team
                    p
                      | Keep working with partners you trust.
              .row
                .col-md-6
                  .feature-item
                    .device-wrapper
                      .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                        .screen
                          img.img-responsive(src='img/screenshots/screen/accounting.jpg', alt='localistars accounting')
                    h3 Accounting overview
                    p
                      | Keep the overview about every transaction.
                .col-md-6
                  .feature-item
                    .device-wrapper
                      .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                        .screen
                          img.img-responsive(src='img/screenshots/screen/permissions.jpg', alt='localistars role management')
                    h3 Extended Role Management
                    p
                      | Fine graned control over the access to your content.