extends pug/layout.pug

block head
  title localistars – become a localistar

block content

  section.section-primary
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h2 Why should you become a localistar?
            p.text-center Our goal is to provide a platform that removes the tedious parts of translations.
            p.text-center(style="font-style: italic;") Are you a freelance translator or a translation agency, then localistars is for you!
            hr

      .row
        .col-md-6

          h3 Direct Contact

          p.light-font localistars is about you. You're in direct contact with the client – it's your task, you hold the reins. In contrast to other services we don't set the price and forward the contract to the cheapest translator to maximize our own profit. You make an offer, it's your client – all we ask for is a small service fee on success to cover our own costs (transactions, currency exchange and development).

          h3 No risk

          p.light-font We only charge you a small service fee on successful payment. No hidden costs.

          h3 Invoicing

          p.light-font No need to waste time writing invoices. It's all done automatically and VAT-compliant. You can download the documents for your accounting anytime. Focus on your job – not on bookkeeping.

        .col-md-6

          h3 Get paid

          p.light-font A project has to be funded by your client upfront. We hold back the money until the job is done and the client approves the translations. Then we'll transfer the sum to your account.

          h3 Find new clients with ease

          p.light-font More time to do the meaningful work, less time wasted on searching and contracting. Overall localistars is your chance to increase your income.

          h3 Keep the overview

          p.light-font Find all the information in one place. No need to skim through endless lists of emails.


  section.section-secondary.features.text-center
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h2 For Translators
            p.head
              | Work more efficiently using localistars.
            hr
      .row
        .col-md-12
          .container-fluid
            .row
              .col-md-6
                .feature-item
                  .device-wrapper(style="margin: 0 auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive(src='img/screenshots/screen/find_projects.jpg', alt='localistars find new jobs')
              .col-md-6
                .feature-item
                  h3 Find new projects
                  p New job opportunities matching your language profile are waiting for you.
                  p You periodically receive notifications for new projects.

          .container-fluid
            .row
              .col-md-6
                .feature-item
                  h3 Expand your client-network
                  p Keep working with partners you trust.
              .col-md-6
                .feature-item
                  .device-wrapper(style="margin: 0 auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive(src='img/screenshots/screen/partners_creator.jpg', alt='localistars partners')

  section#contact.contact.bg-tertiary(i18next-options='{"ns": "common"}')
    .container
      h2 Do you need some help getting started?
      p Any question you may have about our pricing or platform will be answered by one of our team members.
      a.btn.btn-outline.btn-xl.page-scroll(href='mailto:support@localistars.com') Contact us
