extends pug/layout.pug

block head
  title localistars – become a localistar

block content

  section.section-primary
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h2 Why should you become a localistar?
            p.text-center Our goal is to provide a platform that removes the tedious parts of translations.
            p.text-center(style="font-style: italic;") Are you a freelance translator or a translation agency, then localistars is for you!
            hr

      .row
        .col-md-6

          h3 Direct Contact

          p.light-font localistars is about you. You're in direct contact with the client – it's your task, you hold the reins. In contrast to other services we don't set the price and forward the contract to the cheapest translator to maximize our own profit. You make an offer, it's your client – all we ask for is a small service fee on success to cover our own costs (transactions, currency exchange and development).

          h3 No risk

          p.light-font We only charge you a small service fee on successful payment. No hidden costs.

          h3 Invoicing

          p.light-font No need to waste time writing invoices. It's all done automatically and VAT-compliant. You can download the documents for your accounting anytime. Focus on your job – not on bookkeeping.

        .col-md-6

          h3 Get paid

          p.light-font A project has to be funded by your client upfront. We hold back the money until the job is done and the client approves the translations. Then we'll transfer the sum to your account.

          h3 Find new clients with ease

          p.light-font More time to do the meaningful work, less time wasted on searching and contracting. Overall localistars is your chance to increase your income.

          h3 Keep the overview

          p.light-font Find all the information in one place. No need to skim through endless lists of emails.


  section.section-secondary.features.text-center
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h2 For Translators
            p.head
              | Work more efficiently using localistars.
            hr
      .row
        .col-md-12
          .container-fluid
            .row
              .col-md-6
                .feature-item
                  .device-wrapper(style="margin: 0 auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive(src='img/screenshots/screen/find_projects.jpg', alt='localistars find new jobs')
              .col-md-6
                .feature-item
                  h3 Find new projects
                  p New job opportunities matching your language profile are waiting for you.
                  p You periodically receive notifications for new projects.

          .container-fluid
            .row
              .col-md-6
                .feature-item
                  h3 Expand your client-network
                  p Keep working with partners you trust.
              .col-md-6
                .feature-item
                  .device-wrapper(style="margin: 0 auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive(src='img/screenshots/screen/partners_creator.jpg', alt='localistars partners')

          .container-fluid
            .row
              .col-md-6
                .feature-item
                  .device-wrapper(style="margin: 0 auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive(src='img/screenshots/screen/users_creator.jpg', alt='localistars users')
              .col-md-6
                .feature-item
                  h3 Manage your team
                  p Especially for translation agencies, you can add all your team-members to your organisation.
                  p Each user can be granted individual rights so they get access to the relevant parts of your workflow.

  section.section-primary.features.text-center#get-started
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h2 Get started now
            p.head
              | It's easy!
            hr
      .row
        .col-md-12
          .container-fluid
            .row
              .col-md-6
                .feature-item
                  .device-wrapper(style="margin: 0 auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive(src='img/screenshots/screen/register.jpg', alt='localistars register')
              .col-md-6
                .feature-item
                  h3 Sign up
                  p Register 
                    a(href="https://www.localistars.app/register" target="_blank") here
                    | .
                  p Complete the registration process by confirming your email address. Click on the link in the received email.
                  p Finally 
                    a(href="https://www.localistars.app/login" target="_blank") login
                    | .
      .row
        .col-md-12
          .container-fluid
            .row
              .col-md-6
                .feature-item
                  h3 Select your profile type
                  p You are looking for new translation jobs!
                  p Choose the 
                    b translator
                    |  profile type.
              .col-md-6
                .feature-item
                  .device-wrapper(style="margin: 0 auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive(src='img/screenshots/screen/profiletype.jpg', alt='localistars profile type')
      .row
        .col-md-12
          .container-fluid
            .row
              .col-md-6
                .feature-item
                  .device-wrapper(style="margin: 0 auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive(src='img/screenshots/screen/profile_translator.jpg', alt='localistars profile translator')
              .col-md-6
                .feature-item
                  h3 Update your personal profile and define what translation jobs you're looking for
                  p Time to make yourself a name - complete your personal profile.
                  p To find a first translation job - fill your search criteria. Your language pairs.
                  p You will be notified as soon as new matching projects will be available.
      .row
        .col-md-12
          .container-fluid
            .row
              .col-md-6
                .feature-item
                  h3 Having an organization
                  p Providing an organization is mandatory. A contract is legally between your organization and the service requesting organization.
                  p You can either get invited to an existing organization or create a new one.
                  p If you're a freelancer, you probably have to create an organization with your personal name.
              .col-md-6
                .feature-item
                  .device-wrapper(style="margin: 0 auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive(src='img/screenshots/screen/organization.jpg', alt='localistars organization')
      .row
        .col-md-12
          .container-fluid
            .row
              .col-md-6
                .feature-item
                  .device-wrapper(style="margin: 0 auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive(src='img/screenshots/screen/start_bid.jpg', alt='localistars bid')
              .col-md-6
                .feature-item
                  h3 How does it work?
                  p
                    a(href="/how-it-works.html") Here you can see how it works.

  section#contact.contact.bg-tertiary(i18next-options='{"ns": "common"}')
    .container
      h2 Do you need some help getting started?
      p Any question you may have about our pricing or platform will be answered by one of our team members.
      a.btn.btn-outline.btn-xl.page-scroll(href='mailto:support@localistars.com') Contact us
