extends pug/layout.pug

block head
  title localistars – how it works

block content

  section.section-gray.features.text-center
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h2 Translation projects
            p.head
              | Clients and translators welcome – together you get translation projects done.
            hr

      .row(style="margin-bottom: 20px;")
        .col-md-12
          .container-fluid
            .row.section-primary
              .col-md-6.section-secondary
                h3 Client
                h6
                  a(href="/for-clients.html#get-started") Make sure you have set up your account.
              .col-md-6.section-primary
                h3 Translator
                h6
                  a(href="/for-translators.html#get-started") Make sure you have set up your account.

      .row
        .col-md-12
          .container-fluid
            .row.section-primary
              .col-md-6.section-secondary
                .feature-item
                  h3 Create a project and call for bids

                  .device-wrapper(style="margin: 20px auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive(src='img/screenshots/screen/draft.jpg', alt='localistars draft')

                  p Create a new draft. Upload the files you need to be translated. Choose the target languages for the translation and call for bids.
                  p Done. Behind the scenes a translation project has been created. You can relax and wait for bids to show up.
                  //- p
                  //-   | Learn more about the&nbsp;
                  //-   a(href="https://docs.localistars.com/supported-formats.html" target="_blank") ipsum.

              .col-md-6.section-primary
                .feature-item


      .row
        .col-md-12
          .container-fluid
            .row.section-secondary
              .col-md-6.section-secondary
                .feature-item

              .col-md-6.section-primary
                .feature-item
                  h3 Make an offer

                  .device-wrapper(style="margin: 20px auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive(src='img/screenshots/screen/start_bid.jpg', alt='localistars bidding')

                  p The new project shows up in your list of new job opportunities.
                  p You can bid based on the content and metrics provided. If there's something unclear or you need additional details, you can reach out to the potential client anytime.
                  //- p
                  //-   | Learn more about the&nbsp;
                  //-   a(href="https://docs.localistars.com/supported-formats.html" target="_blank") ipsum.

      .row
        .col-md-12
          .container-fluid
            .row.section-primary
              .col-md-6.section-secondary
                .feature-item
                  h3 Choose the right partner for your project

                  .device-wrapper(style="margin: 20px auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive(src='img/screenshots/screen/choose_bid.jpg', alt='localistars choose bid')

                  p Choose the offer with the lowest price or the partner with the best reputation. The choice is yours.
                  p The new partner will be added to your list of translators, so in future it's easy for you to work with the same people again.
                  //- p
                  //-   | Learn more about the&nbsp;
                  //-   a(href="https://docs.localistars.com/supported-formats.html" target="_blank") ipsum.

              .col-md-6.section-primary
                .feature-item

      .row
        .col-md-12
          .container-fluid
            .row.section-primary
              .col-md-6.section-secondary
                .feature-item
                  h3 Fund the project

                  .device-wrapper(style="margin: 20px auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive(src='img/screenshots/screen/accounting.jpg', alt='localistars accounting')

                  p Before the translator may start working you'll need to fund the project. We hold back the money until you approve the provided translations.
                  p The translator can be sure the costs are covered while you can be sure to only be charged if you approve the content.
                  //- p
                  //-   | Learn more about the&nbsp;
                  //-   a(href="https://docs.localistars.com/supported-formats.html" target="_blank") ipsum.

              .col-md-6.section-primary
                .feature-item


      .row
        .col-md-12
          .container-fluid
            .row.section-secondary
              .col-md-6.section-secondary
                .feature-item

              .col-md-6.section-primary
                .feature-item
                  h3 Get down to business

                  .device-wrapper(style="margin: 20px auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive(src='img/screenshots/screen/upload_files.jpg', alt='localistars translate')

                  p Do what you're best at. When the translations are done, upload the files and submit the job.
                  p During the project you can reach out to your client at anytime.
                  //- p
                  //-   | Learn more about the&nbsp;
                  //-   a(href="https://docs.localistars.com/supported-formats.html" target="_blank") ipsum.


      .row
        .col-md-12
          .container-fluid
            .row.section-primary
              .col-md-6.section-secondary
                .feature-item
                  h3 Approve the work

                  .device-wrapper(style="margin: 20px auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive(src='img/screenshots/screen/paid_project.jpg', alt='localistars approved project')

                  p If you're happy with the work of your translator you approve the project.
                  p If there's something missing or in need of rework, give the translator a chance to improve the content. For disputes we introduced a special workflow as well.
                  //- p
                  //-   | Learn more about the&nbsp;
                  //-   a(href="https://docs.localistars.com/supported-formats.html" target="_blank") ipsum.

              .col-md-6.section-primary
                .feature-item

      .row
        .col-md-12
          .container-fluid
            .row.section-secondary
              .col-md-6.section-secondary
                .feature-item
                  h3 Be charged

                  .device-wrapper(style="margin: 20px auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive(src='img/screenshots/screen/transactions.jpg', alt='localistars transactions')

                  p With approval of the project the provided funding will be paid out to the translator. You will get an invoice for your accounting.
                  p All past transactions can be viewed in the accounting section of your organisation.
                  //- p
                  //-   | Learn more about the&nbsp;
                  //-   a(href="https://docs.localistars.com/supported-formats.html" target="_blank") ipsum.

              .col-md-6.section-primary
                .feature-item
                  h3 Get paid

                  .device-wrapper(style="margin: 20px auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive(src='img/screenshots/screen/payout.jpg', alt='localistars payout')

                  p Time to get paid. The money will be transferred to your localistars-balance and can be withdrawn at any time.
                  p All necessary reports for your accounting (invoices, VAT-reports, etc.) are available in your organisation section.
                  //- p
                  //-   | Learn more about the&nbsp;
                  //-   a(href="https://docs.localistars.com/supported-formats.html" target="_blank") ipsum.

  section.section-secondary.features.text-center(style="padding: 100px 0 0;")
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h2
              | localistars is also integrated in 
              a(href="https://www.locize.com") locize
            p.head
              a(href='https://docs.locize.com/guides-tips-and-tricks/working-with-translators/localistars', style="color: white;") Check out how the locize integrates localistars.

            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='1280', height='720', src='https://www.youtube.com/embed/WobsZ_er0I4?rel=0&controls=0&showinfo=0', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')


  section#contact.contact.bg-tertiary(i18next-options='{"ns": "common"}')
    .container
      h2 Do you need some help getting started?
      p Any question you may have about our pricing or platform will be answered by one of our team members.
      a.btn.btn-outline.btn-xl.page-scroll(href='mailto:support@localistars.com') Contact us
